@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #131414;
}

.nav-link:hover {
    font-weight: bold;
    border-bottom: solid white;
    transition: 0.2s;
}

.home {
    height: 60.1em;
}

.home-profile {
    border-radius: 100em;
    border: solid #151f38 0.3em;
    height: 20em;
    margin: auto;
}

.home-container {
    padding-top: 15em;
    text-align: center;
}

.user-name {
    font-size: 35px;
}