@tailwind base;
@tailwind components;
@tailwind utilities;


body {
}

.nav-link {
    cursor: pointer;
}

.nav-link:hover {
    font-weight: bold;
    border-bottom: solid white;
    transition: 0.2s;
}

.home {
    height: 60.1em;
}

.home-profile {
    border-radius: 100em;
    border: solid #151f38 0.3em;
    height: 20em;
    margin: auto;
}

.home-container {
    padding-top: 15em;
    text-align: center;
}

.user-name {
    font-size: 35px;
}

.panel {
    position: fixed;
    width: auto;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1em;
}

.panel-container {
    padding: 3em;
    margin: auto;
}

.panel-container h1 {
    font-weight: bold;
    padding-bottom: 1em;
}

.panel-container p {
    text-align: justify;
}

.panel input {
    border-radius: 0.5em;
    width: 15em;
}

.panel textarea {
    border-radius: 0.5em;
    width: 20em;
    height: 20em;
    padding: 1em;
}

.submit-btn {
    border: solid white 1px;
    border-radius: 0.5em;
    width: 10em;
}

.submit-btn:hover {
    color: white;
    background-color: black;
    transition: 0.5s;
}

@media only screen and (max-width: 767px) {
    .panel {
        width: 100%;
        overflow-y: scroll;
        overflow-y: 30em;
        height:50em;
    }
}